<?xml version="1.0"?>

<configuration>

  <!--Classic Mode -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  <handlers>
    <!-- This section is used only when hosting TestServer under IIS -->
    <add name="FaxForwardHandler" verb="*" path="app/*/*" type="FaxForward.Web.Handler.SimpleHandler" />
  </handlers>

    <!--<customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>-->

    <customErrors mode="Off"/>

    <httpRuntime maxRequestLength="32768" executionTimeout="1000" />
    <httpHandlers>
      <remove verb="*" path="*.*" />
      <add verb="*" path="*" type="WF.NotificationHandler.Sample.AllRequestHandler, WF.NotificationHandler.Sample" />
    </httpHandlers>
  </system.web>

  <!--Integrated Mode -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <httpErrors errorMode="Detailed" />
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="NotificationHandler" verb="*" path="*" type="WF.NotificationHandler.Sample.AllRequestHandler, WF.NotificationHandler.Sample" resourceType="Unspecified" />
    </handlers>

    
  </system.webServer>

</configuration>


