<?xml version="1.0"?>
<configuration>

  <appSettings>

    <!-- This one works on Dev.  Don't deploy this.. -->
    <add key="APIEncoding" value="json"/>
    <add key="APIEndpoint" value="http://polkaapi"/>

    <add key="Username" value="user"/>
    <add key="Password" value="pass"/>
    <add key="ProductId" value="{00000000-0000-0000-0000-000000000000}"/>

    <add key="TestFax" value="3035551212"/>
    <add key="TestEmail" value="user@example.com"/>
    
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
