<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- These will work.  There are alternate endpoints, and xml is also available for encoding. -->
    <!-- Using an alternate encoding (XML) will require refactoring the SDK serialization, and a refactor of this Demo. -->
    <!-- If you prefer or need XML, ask WestFax about it!  They can make it happen. -->
    <add key="APIEncoding" value="json" />
    <add key="APIEndpoint" value="https://api2.westfax.com" />

    <!-- Enter credentials here.  These will be supplied by westfax.   -->
    <add key="Username" value="user" />
    <add key="Password" value="pass" />
    <add key="ProductId" value="{00000000-0000-0000-0000-000000000000}" />

    <!-- The demo will send emails and a fax to these -->
    <add key="TestFax" value="3035551212" />
    <add key="TestEmail" value="test@test.com" />

  </appSettings>

</configuration>