<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- This one works on Dev.  Don't deploy this.. -->
    <add key="APIEncoding" value="json" />    <!-- The api encoding -->
    <add key="APIEndpoint" value="https://apih.westfax.com" />    <!-- The api endpoint -->

    <add key="Username" value="user" />
    <add key="Password" value="pass" />
    <add key="ProductId" value="aaaaaaaa-ffff-dddd-eeee-cccccccccccc" />  <!-- Your Product Id -->

    <add key="TestFax" value="5555551212" />     <!-- A Test Fax Number -->
    <add key="TestEmail" value="dude@yourdomain.com" />    <!-- A Test Email -->
    
  </appSettings>

</configuration>