<?xml version="1.0"?>

<configuration>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <httpRuntime maxRequestLength="32768" executionTimeout="1000" />
        <httpHandlers>
          <remove verb="*" path="*.*" />
          <add verb="*" path="*" type="WF.NotificationHandler.Sample.AllRequestHandler, WF.NotificationHandler.Sample" />
        </httpHandlers>
    </system.web>

</configuration>
